@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col {
    flex: 1;
    padding: 0 15px;
    min-width: 250px;
    margin-right: 50px; /* Add margin-right for space between columns */
}
.footer-col:nth-child(1) {
    margin-right: 30px; /* Specific margin for "Company" column */
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}
.footer-content {
    background-color: #333; /* Dark background */
    color: #fff;
    text-align: center;
    padding: 15px 0; /* Adjusted padding for compact design */
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 0px;/* Adjusted for consistent spacing above footer */
}

.footer-content p {
    margin: 0;
    color: #fff; /* Clean and consistent text color */
}
@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 574px) {
    .footer-col {
        width: 50%;
    }
}
